Repository tiwariav/ye-design: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --cache --write, stylelint --cache --fix

Notes added by 'git notes add'
  87f107e5fb71472c78e7093242cd6f850200cdbe
Due: none

fix: add classname to root of page container
  src/components/structures/Page/Page.tsx
Due: eslint --cache --fix, prettier --cache --write

chore(release): 3.7.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --cache --write

Notes added by 'git notes add'
  6e1f40f4123a1adbfe9e605a4f6ec8a616009d64
Due: none

refactor: update storybook to v8
  .storybook/main.ts
  .yarn/releases/yarn-4.1.0.cjs
  .yarn/releases/yarn-4.1.1.cjs
  .yarn/sdks/eslint/package.json
  .yarn/sdks/prettier/package.json
  .yarn/sdks/typescript/package.json
  .yarnrc.yml
  Intro.stories.mdx
  chromatic.config.json
  package.json
  src/components/atoms/Card/Card.stories.tsx
  src/components/atoms/Container/Container.stories.tsx
  src/components/atoms/FileInput/FileInput.tsx
  src/components/atoms/FormattedInput/FormattedInput.tsx
  src/components/atoms/PhoneNumberInput/PhoneNumberInput.stories.tsx
  src/components/atoms/Tag/Tag.tsx
  src/components/atoms/atoms.stories.mdx
  src/components/structures/TopNav/TopNav.tsx
  yarn.lock
Due: eslint --cache --fix, prettier --cache --write

chore(release): 3.7.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --cache --write

Notes added by 'git notes add'
  a14149b1cf8e6eb1ed70cddb223d326bdcf5512a
Due: none

fix: fix storybook css config
  .storybook/main.ts
  package.json
  yarn.lock
Due: eslint --cache --fix, prettier --cache --write

chore(release): 3.7.3 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --cache --write

Notes added by 'git notes add'
  262683f3ccb02ef7bde4d34726623796326a64de
Due: none

refactor: update packages
  package.json
  yarn.lock
Due: prettier --cache --write

chore(release): 3.7.4 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --cache --write

Notes added by 'git notes add'
  b00846c714ca5ec02f589e7c6d6127e6b46da12e
Due: none

fix: fix raius css var name spelling
  src/styles/base.css
Due: stylelint --cache --fix

chore(release): 3.7.5 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --cache --write

Notes added by 'git notes add'
  22b7332c36a994d24126f25db70a493c8d59168f
Due: none

fix: safari icon width
  src/components/atoms/FileInput/fileInput.module.css
  src/components/atoms/TextInput/TextInput.stories.tsx
  src/components/atoms/TextInput/textInput.module.css
  src/styles/base.css
  src/wrappers/span.module.css
Due: eslint --cache --fix, prettier --cache --write, stylelint --cache --fix

chore(release): 3.7.6 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --cache --write

Notes added by 'git notes add'
  bf8b58a3ad8e4ce86b664a78d7bcbe2af6c4a315
Due: none

fix: center input icons
  src/components/atoms/TextInput/TextInput.tsx
  src/components/atoms/TextInput/textInput.module.css
Due: eslint --cache --fix, prettier --cache --write, stylelint --cache --fix

chore(release): 3.7.7 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --cache --write

Notes added by 'git notes add'
  3fb476c50d3f3b97569bcdbe1c96985154c74ba8
Due: none

fix: vertical in divider
  src/components/atoms/Divider/Divider.stories.tsx
  src/components/atoms/Divider/Divider.tsx
  src/components/atoms/Divider/divider.module.css
Due: eslint --cache --fix, prettier --cache --write, stylelint --cache --fix

chore(release): 3.7.8 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --cache --write

Notes added by 'git notes add'
  c509c7d6cd640292743ca853de320fc8341a10e8
Due: none

chore: uupdate divider stories
  src/components/atoms/Divider/Divider.stories.tsx
Due: eslint --cache --fix, prettier --cache --write

chore(release): 4.0.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --cache --write

Notes added by 'git notes add'
  6cd33663f7020164dd19993bb0f1e694a3901b2a
Due: none

fix: rename css variables causing build error in rollup
  .stylelintrc.cjs
  package.json
  src/components/atoms/TextInput/textInput.module.css
  src/styles/base.css
  yarn.lock
Due: prettier --cache --write, stylelint --cache --fix

chore(release): 4.0.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --cache --write

Notes added by 'git notes add'
  01ace62da2cf2f9e13ec0534b30f6c977c2eb3cb
Due: none

refactor: use named exports for contexts
  package.json
  src/components/structures/Page/Page.tsx
  src/components/structures/SideNav/SideNav.stories.tsx
  src/components/structures/SideNav/SideNav.tsx
  src/components/structures/SideNav/SideNavItem.tsx
  src/components/structures/SideNav/utils.ts
  src/components/structures/TopNav/TopNav.tsx
  src/components/structures/TopNav/utils.ts
  src/contexts/LayoutContext/index.tsx
  src/contexts/ScrollContext/index.tsx
  yarn.lock
Due: eslint --cache --fix, prettier --cache --write

chore(release): 4.0.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --cache --write

Notes added by 'git notes add'
  16d47e7e021635e8b62a6f71d1294532f1c658f4
Due: none

fix: add classname to scroll context
  src/contexts/ScrollContext/index.tsx
Due: eslint --cache --fix, prettier --cache --write

fix: remove variable ye-shadow-input-focus
  .github/workflows/semantic-release.yml
  src/components/atoms/TextInput/textInput.module.css
  src/styles/base.css
Due: stylelint --cache --fix

chore(release): 3.7.9 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --cache --write

Notes added by 'git notes add'
  254bcdde41103b8514c42c100d0b1beb1de09508
Due: none

Path conditions:
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
  prettier --cache --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{html,json})
  stylelint --cache --fix: any of: *.{css,sass,scss}
