Repository tiwariav/ye-design: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --cache --write, stylelint --cache --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --cache --fix", "prettier --cache --write"],
  "*.{html,json}": ["prettier --cache --write"],
  "*.{css,sass,scss}": ["stylelint --cache --fix"]
}

Notes added by 'git notes add'
  05ac2bbf765cbdfde0736d2506c078e94845e093
Due: none

fix: button loading background
  src/components/atoms/Button/Button.stories.tsx
  src/components/atoms/Spinner/spinner.module.css
Due: eslint --cache --fix, prettier --cache --write, stylelint --cache --fix

fix: decrease button loader background opacity
  .pnp.loader.mjs
  .yarn/releases/yarn-4.0.2.cjs
  .yarn/releases/yarn-4.1.0.cjs
  .yarnrc.yml
  package.json
  src/components/atoms/Button/button.module.css
  yarn.lock
Due: prettier --cache --write, stylelint --cache --fix

chore(release): 3.5.18 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --cache --write

Notes added by 'git notes add'
  ca530b32ee7e807dc809ce294319d8561a44ee9b
Due: none

fix: update material input label styles
  src/components/atoms/TextInput/textInput.module.css
  src/components/atoms/label.module.css
  src/styles/base.css
Due: stylelint --cache --fix

chore(release): 3.5.19 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --cache --write

Notes added by 'git notes add'
  26aa214a7a4d350633f6acb36c25578b1191612b
Due: none

fix: adjust material label transform for border width
  src/components/atoms/TextInput/textInput.module.css
  src/components/atoms/label.module.css
  src/styles/base.css
Due: stylelint --cache --fix

chore(release): 3.5.20 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --cache --write

Notes added by 'git notes add'
  01f45002b695552050d720ee868ec1930e185a80
Due: none

fix: adjust material label transform for border width
  src/components/atoms/TextInput/textInput.module.css
  src/components/atoms/label.module.css
Due: stylelint --cache --fix

chore(release): 3.5.21 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --cache --write

Notes added by 'git notes add'
  95c491d2b2fdaa92b83b56ae62d79ddce2154287
Due: none

fix: hide file-selector-button for fileinput
  .husky/commit-msg
  .husky/post-merge
  .husky/pre-commit
  package.json
  src/components/atoms/FileInput/FileInput.stories.tsx
  src/components/atoms/FileInput/fileInput.module.css
  yarn.lock
Due: eslint --cache --fix, prettier --cache --write, stylelint --cache --fix

chore(release): 3.5.22 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --cache --write

Notes added by 'git notes add'
  b6d459b2f1c253628b0dcb5b6ddee3d85af2bd55
Due: none

fix: input top padding in text input
  src/components/atoms/TextInput/TextInput.tsx
  yarn.lock
Due: eslint --cache --fix, prettier --cache --write

feat: input component errored state
  src/components/atoms/HookFormInputWrapper/HookFormInputWrapper.stories.tsx
  src/components/atoms/HookFormInputWrapper/HookFormInputWrapper.tsx
  src/components/atoms/TextInput/TextInput.tsx
  src/components/atoms/TextInput/textInput.module.css
Due: eslint --cache --fix, prettier --cache --write, stylelint --cache --fix

refactor: update dependencies
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier --cache --write

chore(release): 3.5.23 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --cache --write

Notes added by 'git notes add'
  8a1baac137675bf38aa5e0b92c7d5092daff7946
Due: none

fix: fix ArcProgress props
  src/components/atoms/ArcProgress/ArcProgress.tsx
Due: eslint --cache --fix, prettier --cache --write

chore(release): 3.5.24 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --cache --write

Notes added by 'git notes add'
  a30815e4b368825b9d05912f7d9da719ef38796d
Due: none

fix: gap between name and upload status
  .husky/pre-commit
  src/components/atoms/FileInput/fileInput.module.css
  src/components/atoms/HookFormInputWrapper/HookFormInputWrapper.tsx
  src/components/atoms/TextInput/TextInput.tsx
  src/components/atoms/TextInput/textInput.module.css
  src/styles/base.css
Due: eslint --cache --fix, prettier --cache --write, stylelint --cache --fix

fix: phone number autocomplete to tel
  src/components/atoms/PhoneNumberInput/PhoneNumberInput.tsx
  src/components/atoms/TextInput/TextInput.tsx
  src/components/atoms/label.module.css
Due: eslint --cache --fix, prettier --cache --write, stylelint --cache --fix

chore(release): 3.6.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --cache --write

Notes added by 'git notes add'
  963b568069f281d06264be82470ec0c4f4ccec64
Due: none

fix: prevent className override in phone number input
  src/components/atoms/PhoneNumberInput/PhoneNumberInput.tsx
Due: eslint --cache --fix, prettier --cache --write

chore(release): 3.6.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --cache --write

Notes added by 'git notes add'
  19f4e535e6b5685f1da2cd7d80867773864cdfa7
Due: none

fix: move spinner to base components css layer
  src/components/atoms/Spinner/spinner.module.css
Due: stylelint --cache --fix

chore(release): 3.6.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --cache --write

Notes added by 'git notes add'
  9998925c555749e9d231a58a82daf30fa7920621
Due: none

fix: commit msg file permisions
  .husky/commit-msg
Due: none

Notes added by 'git notes add'
  7e2e71df1fa171b76c8138e20802b6593b76f7cf
Due: none

chore(release): 3.6.3 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --cache --write

feat: middle content in top nav
  src/components/structures/TopNav/TopNav.stories.tsx
  src/components/structures/TopNav/TopNav.tsx
  src/components/structures/TopNav/topNav.module.css
Due: eslint --cache --fix, prettier --cache --write, stylelint --cache --fix

chore(release): 3.7.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --cache --write
