Repository tiwariav/ye-design: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --cache --write, stylelint --cache --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --cache --fix", "prettier --cache --write"],
  "*.{html,json}": ["prettier --cache --write"],
  "*.{css,sass,scss}": ["stylelint --cache --fix"]
}

Notes added by 'git notes add'
  b0/e7ecdedcf698cf34863c2b3b28b95e7dbf4d92
Due: none

chore(release): 3.5.6 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --cache --write

fix: add `hasCompactMode` option for SideNav
  src/components/structures/SideNav/SideNav.stories.tsx
  src/components/structures/SideNav/SideNav.tsx
  src/components/structures/SideNav/SideNavItem.tsx
  src/components/structures/SideNav/sideNav.module.css
  src/components/structures/SideNav/sideNavItem.module.css
  src/contexts/LayoutContext/state.ts
Due: eslint --cache --fix, prettier --cache --write, stylelint --cache --fix

chore(release): 3.5.7 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --cache --write

Notes added by 'git notes add'
  22/38a7870bb505b06cbca3ff8a015f732b5e0f64
Due: none

fix: side nav mobile styling
  src/components/structures/SideNav/SideNav.tsx
  src/components/structures/SideNav/SideNavItem.tsx
  src/components/structures/SideNav/sideNav.module.css
Due: eslint --cache --fix, prettier --cache --write, stylelint --cache --fix

chore(release): 3.5.8 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --cache --write

Notes added by 'git notes add'
  1e/992ce186b34dd3f4c55cf8affef2a15cadf404
Due: none

fix: give initial values for layout states
  src/components/structures/SideNav/SideNav.tsx
Due: eslint --cache --fix, prettier --cache --write

chore(release): 3.5.9 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --cache --write

Notes added by 'git notes add'
  f7/d12d00b02c4304938d8c19568056671525af8b
Due: none

fix: remove weird corners and outlines from loading buttons
  src/components/atoms/Button/Button.tsx
  src/components/atoms/Button/button.module.css
  src/components/atoms/Spinner/spinner.module.css
Due: eslint --cache --fix, prettier --cache --write, stylelint --cache --fix

fix: label font weight for inputs
  src/components/atoms/NumberInput/NumberInput.stories.tsx
  src/components/atoms/PhoneNumberInput/PhoneNumberInput.tsx
  src/components/atoms/TextInput/TextInput.tsx
  src/components/atoms/TextInput/textInput.module.css
  src/components/atoms/label.module.css
Due: eslint --cache --fix, prettier --cache --write, stylelint --cache --fix

--no-edit
  src/components/atoms/TextInput/TextInput.tsx
Due: eslint --cache --fix, prettier --cache --write

refactor: update dependencies
  package.json
  yarn.lock
Due: prettier --cache --write

chore(release): 3.5.10 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --cache --write

Notes added by 'git notes add'
  ba/6abf573f047bfe6d3397a9a2b0173155ce7cdd
Due: none

fix: change phone input mode to tel instead of number
  src/components/atoms/PhoneNumberInput/PhoneNumberInput.tsx
Due: eslint --cache --fix, prettier --cache --write

chore(release): 3.5.11 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --cache --write

Notes added by 'git notes add'
  27/acd02b70e243d437419b64a340ab1acd84bb9c
Due: none

fix: fix usage of mixins in button
  src/components/atoms/Button/button.module.css
Due: stylelint --cache --fix

chore(release): 3.5.12 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --cache --write

Notes added by 'git notes add'
  ed/4549cb0b39f297bbbc7bd98f975b8d82b5e1d6
Due: none

refactor: update color values to oklch
  .stylelintrc.cjs
  package.json
  src/components/structures/SideNav/SideNav.tsx
  src/components/structures/TopNav/topNav.module.css
  src/styles/base.css
  src/tools/__tests__/number.test.ts
  src/types/country-flag-emoji-polyfil.d.ts
  src/types/wo-library.d.ts
  yarn.lock
Due: eslint --cache --fix, prettier --cache --write, stylelint --cache --fix

chore(release): 3.5.13 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --cache --write

Notes added by 'git notes add'
  b9cf6526d76840c003b0a47d4a5bbbff16dda25b
Due: none

fix: preserve media queries
  package.json
  postcss.config.cjs
  yarn.lock
Due: prettier --cache --write

chore(release): 3.5.14 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --cache --write

Notes added by 'git notes add'
  c5de5e545c28456226f28c696438bae77c15b600
Due: none

fix: invert mix opacity values
  src/styles/base.css
Due: stylelint --cache --fix

chore(release): 3.5.15 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --cache --write

Notes added by 'git notes add'
  e5f0bf47b708f847c89315f44fce992be5c9476c
Due: none

fix: file input overflows
  src/components/atoms/FileInput/FileInput.tsx
  src/components/atoms/FileInput/fileInput.module.css
Due: eslint --cache --fix, prettier --cache --write, stylelint --cache --fix

refactor: update packages
  babel.config.cjs
  babel.config.js
  package.json
  yarn.lock
Due: eslint --cache --fix, prettier --cache --write

chore(release): 3.5.16 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --cache --write

Notes added by 'git notes add'
  aef2324f7c27f573185a53544361bf6f9bda08c2
Due: none

refactor: update husky
  .husky/commit-msg
  .husky/post-merge
  .husky/pre-commit
  package.json
  yarn.lock
Due: prettier --cache --write

fix: correct stylelint version
  package.json
  yarn.lock
Due: prettier --cache --write

chore(release): 3.5.17 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --cache --write
