Repository tiwariav/ye-design: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --cache --write, stylelint --cache --fix

refactor: udpate dependencies
  .vscode/settings.json
  package.json
  yarn.lock
Due: prettier --cache --write

chore: add missing package
  package.json
  yarn.lock
Due: prettier --cache --write

chore: fix eslint issues
  src/components/__stories/SideNavTemplates.tsx
  src/components/atoms/Button/Button.tsx
  src/components/atoms/Card/Card.stories.tsx
  src/components/atoms/Container/Container.stories.tsx
  src/components/atoms/FormControl.tsx
  src/components/atoms/FormattedInput/FormattedInput.tsx
  src/components/atoms/HookFormInputWrapper/HookFormInputWrapper.tsx
  src/components/atoms/Image/Image.stories.tsx
  src/components/atoms/InputWrapper.tsx
  src/components/atoms/Spinner/Spinner.stories.tsx
  src/components/atoms/Text/Text.stories.tsx
  src/components/structures/SideNav/SideNavItem.tsx
  src/components/structures/TopNav/utils.ts
  src/components/templates/Collection/Collection.stories.tsx
  src/components/templates/Profile/Profile.stories.tsx
  src/contexts/LayoutContext/index.tsx
  src/wrappers/generateCssWrapper.tsx
Due: eslint --cache --fix, prettier --cache --write

chore(release): 4.0.3 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --cache --write

Notes added by 'git notes add'
  791b964f40b5e27d91b4d1b62b35f1e8df184b05
Due: none

fix: fix getDynamicClassNames to replace hyphens with underscores
  .vscode/settings.json
  src/tools/utils.ts
Due: eslint --cache --fix, prettier --cache --write

chore(release): 4.0.4 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --cache --write

Notes added by 'git notes add'
  d3e2cded1867588eed80a6d8890f46e614c7ce38
Due: none

fix: fix getDynamicClassNames to replace hyphens with underscores
  src/tools/utils.ts
Due: eslint --cache --fix, prettier --cache --write

chore(release): 4.0.5 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --cache --write

Notes added by 'git notes add'
  db52c1c1b37776a28337584b97a9b7a08b697323
Due: none

fix: fix ellipse radius css var name
  src/styles/base.css
Due: stylelint --cache --fix

chore(release): 4.0.6 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --cache --write

Notes added by 'git notes add'
  907c9c34357aeca2b16b6d1ab45528ce408d85e3
Due: none

fix: support generic types for forwardRef components
  .pnp.loader.mjs
  .yarn/releases/yarn-4.1.1.cjs
  .yarn/releases/yarn-4.2.2.cjs
  .yarnrc.yml
  src/components/AsElement.tsx
  src/components/atoms/Anchor/Anchor.stories.tsx
  src/components/atoms/Anchor/Anchor.tsx
  src/components/atoms/Card/Card.tsx
  src/components/atoms/Image/Image.tsx
  src/components/atoms/InputWrapper.tsx
  src/components/atoms/Title/Title.tsx
  src/components/structures/SideNav/SideNavItem.tsx
  src/tools/utils.ts
Due: eslint --cache --fix, prettier --cache --write

chore(release): 4.0.7 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --cache --write

Notes added by 'git notes add'
  b1f2aca7cfe79b36ca00253c227b2d861c8041d3
Due: none

fix: hook form onchange optional
  src/components/atoms/HookFormInputWrapper/HookFormInputWrapper.tsx
Due: eslint --cache --fix, prettier --cache --write

chore(release): 4.0.8 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --cache --write

Notes added by 'git notes add'
  07f8c25977595c18386962fd390a51edb27308d0
Due: none

refactor: update stylelint to v16
  package.json
  src/components/atoms/Anchor/anchor.module.css
  src/components/atoms/ArcProgress/arcProgress.module.css
  src/components/atoms/Bookmark/bookmark.module.css
  src/components/atoms/Button/button.module.css
  src/components/atoms/CircleProgress/circleProgress.module.css
  src/components/atoms/Container/container.module.css
  src/components/atoms/FileInput/fileInput.module.css
  src/components/atoms/FormattedInput/formattedInput.module.css
  src/components/atoms/Hero/hero.module.css
  src/components/atoms/Image/image.module.css
  src/components/atoms/PhoneNumberInput/phoneNumberInput.module.css
  src/components/atoms/Spinkit/bounce.module.css
  src/components/atoms/Spinkit/chase.module.css
  src/components/atoms/Spinkit/circleFadeDot.module.css
  src/components/atoms/Spinkit/doubleBounce.module.css
  src/components/atoms/Spinner/spinner.module.css
  src/components/atoms/Tag/tag.module.css
  src/components/atoms/Text/text.module.css
  src/components/atoms/TextIcon/textIcon.module.css
  src/components/atoms/TextInput/textInput.module.css
  src/components/atoms/Title/title.module.css
  src/components/atoms/formControl.module.css
  src/components/atoms/formError.module.css
  src/components/atoms/label.module.css
  src/components/atoms/loaderWrapper.module.css
  src/components/structures/SideNav/sideNav.module.css
  src/components/structures/SideNav/sideNavGroup.module.css
  src/components/structures/TopNav/topNav.module.css
  src/components/structures/TopNav/topNavItem.module.css
  src/components/structures/TopNav/utils.module.css
  src/components/templates/Details/details.module.css
  src/components/templates/Profile/profile.module.css
  src/styles/base.css
  src/styles/storybook.css
  src/wrappers/span.module.css
  yarn.lock
Due: prettier --cache --write, stylelint --cache --fix

chore: remove prettier errors
  src/components/atoms/Anchor/anchor.module.css
  src/components/atoms/Button/button.module.css
Due: stylelint --cache --fix

chore(release): 4.0.9 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --cache --write

Notes added by 'git notes add'
  32fa14a4e6c476d7c4ef6595bca17eb1f761d91e
Due: none

chore: patch stylelint for vscode
  .yarn/patches/stylelint-npm-16.5.0-67c6589a0f.patch
  package.json
  yarn.lock
Due: prettier --cache --write

fix: remove border radius from borderless button
  src/components/atoms/Button/button.module.css
Due: stylelint --cache --fix

chore(release): 4.0.10 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --cache --write

Notes added by 'git notes add'
  58be9e1d326ec477a0dffb3cca4df722fcfccc83
Due: none

refactor: update packages
  .yarn/patches/stylelint-npm-16.6.1-2dcbcc15ac.patch
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier --cache --write

chore(release): 4.0.11 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --cache --write

Notes added by 'git notes add'
  b0acb0ce3fcdf2cdd558086e6032a7c7d344ad8c
Due: none

chore: udpate yarn version
  .pnp.loader.mjs
  .yarn/releases/yarn-4.2.2.cjs
  .yarn/releases/yarn-4.3.0.cjs
  .yarn/sdks/eslint/bin/eslint.js
  .yarn/sdks/eslint/lib/api.js
  .yarn/sdks/eslint/lib/unsupported-api.js
  .yarn/sdks/prettier/bin/prettier.cjs
  .yarn/sdks/prettier/index.cjs
  .yarn/sdks/prettier/package.json
  .yarn/sdks/typescript/bin/tsc
  .yarn/sdks/typescript/bin/tsserver
  .yarn/sdks/typescript/lib/tsc.js
  .yarn/sdks/typescript/lib/tsserver.js
  .yarn/sdks/typescript/lib/tsserverlibrary.js
  .yarn/sdks/typescript/lib/typescript.js
  .yarnrc.yml
  package.json
Due: eslint --cache --fix, prettier --cache --write

fix: use camelCase names in `getDynamicClassName`
  src/tools/utils.ts
Due: eslint --cache --fix, prettier --cache --write

chore(release): 4.0.12 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --cache --write

Notes added by 'git notes add'
  02a583b19d940e23d8bf641706d89f1c7d53765c
Due: none

Path conditions:
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
  prettier --cache --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{html,json})
  stylelint --cache --fix: any of: *.{css,sass,scss}
